@{
    @model IEnumerable<List_of_Objects.Models.CharacterModel>;
    ViewData["Title"] = "Pagina Principal";
    var ID = 0;
}

<div class="center">
    <h1 class="display-4">Te Damos la Bienvenida a la App de Los Simpsons</h1>
    <br /><br />
    <div class="table-responsive">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered" id="tblContact" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ID)</th>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Age)</th>
                        <th>@Html.DisplayNameFor(model => model.Job)</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var character in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => character.ID)</td>
                                <td>@Html.DisplayFor(model => character.Name)</td>
                                <td>@Html.DisplayFor(model => character.Age)</td>
                                <td>@Html.DisplayFor(model => character.Job)</td>
                                <td>
                                    <a class="btn btn-warning" asp-action="Update" asp-route-id="@character.ID">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                        </svg>Actualiza
                                    </a>
                                    <a class="btn btn-secondary" asp-action="Read" asp-route-id="@character.ID">
                                        <i class="bi bi-info-circle-fill"></i>Lee
                                    </a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@character.ID">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill" viewBox="0 0 16 16">
                                            <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293z" />
                                        </svg>Borra
                                    </a>
                                </td>
                            </tr>
                        }
                        ID++;
                    }
                </tbody>
            </table>
            <br /><br />
            <div class="row">
                <div class="offset-9 col-3 mb-3">
                    <a asp-action="Create" asp-controller="Home" asp-route-id="@ID" class="btn btn-primary btn-lg d-block mx-auto">
                        <i class="bi bi-file-plus-fill"></i>Nuevo Personaje
                    </a>
                </div>
            </div>
        }
        else
        {
            <h3>Aun no hay Ningún Persoanje.</h3>
            <br><br>
            <div class="row">
                <div class="offset-9 col-3 mb-3">
                    <a asp-action="Create" asp-controller="Home" asp-route-id="@ID" class="btn btn-primary btn-lg d-block mx-auto">
                        <i class="bi bi-file-plus-fill"></i>Crea el Primer Personaje
                    </a>
                </div>
            </div>
        }
    </div>
</div>
