@{
    ViewData["Title"] = "Datos de la Persona";
    @model Model_1.Models.Person
}

<div class="center">
    <h1>Perfil de Usuario</h1>
    <br><br>
    <h2 class="display-4 border-red">Usuario: @Html.DisplayFor(persona => persona.ID)</h2>
    <ul class="border-blue">
        <li><h3>@Html.DisplayNameFor(persona => persona.Name): @Html.DisplayFor(persona => persona.Name)</h3></li>
        <li><h3>@Html.DisplayNameFor(persona => persona.Age): @Html.DisplayFor(persona => persona.Age)</h3></li>
        <li><h3>@Html.DisplayNameFor(persona => persona.Email): <a href="mailto:matelat@gmail.com">@Html.DisplayFor(persona => persona.Email)</a></h3></li>
    </ul>
</div>